
1.  DEPATLA HEMIKA REDDY
2.  21BAI1538

Task 1: Create a Pandas Dataframe With 10 obesrvations and 5 Featurees

In [14]:
import numpy as np
import pandas as pd

In [15]:
data = {'name':['Hemika','Neha','Keertan','Saha','Ram','Jasu','Saha','Sasra','Lekshi','Udvi'],
        'Age':[14,np.nan,14,9,15,7,13,9,7,14],
        'Gender':['F','F','M','F','M','M','F','F','M','F'],
        'School':['VSN','SVSN','Vignan','KKR','FITZEE','VSN','Gowtham','KKR','Vignan','SVSN'],
        'Class':[9,6,np.nan,4,10,2,8,4,2,9]}

In [16]:
# Converting the dictionary into dataframe
df = pd.DataFrame(data)
df

      name   Age Gender   School  Class
0   Hemika  14.0      F      VSN    9.0
1     Neha   NaN      F     SVSN    6.0
2  Keertan  14.0      M   Vignan    NaN
3     Saha   9.0      F      KKR    4.0
4      Ram  15.0      M   FITZEE   10.0
5     Jasu   7.0      M      VSN    2.0
6     Saha  13.0      F  Gowtham    8.0
7    Sasra   9.0      F      KKR    4.0
8   Lekshi   7.0      M   Vignan    2.0
9     Udvi  14.0      F     SVSN    9.0

Task2 : Checking the info of df

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    10 non-null     object
 1   Age     9 non-null      float64
 2   Gender  10 non-null     object
 3   School  10 non-null     object
 4   Class   9 non-null      float64
dtypes: float64(2), object(3)
memory usage: 528.0+ bytes

Task3 : Describing the statistics of df

In [18]:
df.describe()

             Age      Class
count   9.000000   9.000000
mean   11.333333   6.000000
std     3.278719   3.122499
min     7.000000   2.000000
25%     9.000000   4.000000
50%    13.000000   6.000000
75%    14.000000   9.000000
max    15.000000  10.000000

Task4 : Check the 4th index of observations using slicing operator

In [19]:
#loc
df.loc[4]

name         Ram
Age         15.0
Gender         M
School    FITZEE
Class       10.0
Name: 4, dtype: object

In [20]:
#iloc
df.iloc[4]

name         Ram
Age         15.0
Gender         M
School    FITZEE
Class       10.0
Name: 4, dtype: object

Task 5 : Checking the null values in df

In [21]:
df.isnull().any()

name      False
Age        True
Gender    False
School    False
Class      True
dtype: bool

In [22]:
df.isnull().sum()

name      0
Age       1
Gender    0
School    0
Class     1
dtype: int64

Filling the null values

In [23]:
df.Age = df.Age.fillna(df.Age.median())
df.Age

0    14.0
1    13.0
2    14.0
3     9.0
4    15.0
5     7.0
6    13.0
7     9.0
8     7.0
9    14.0
Name: Age, dtype: float64

In [24]:
df

      name   Age Gender   School  Class
0   Hemika  14.0      F      VSN    9.0
1     Neha  13.0      F     SVSN    6.0
2  Keertan  14.0      M   Vignan    NaN
3     Saha   9.0      F      KKR    4.0
4      Ram  15.0      M   FITZEE   10.0
5     Jasu   7.0      M      VSN    2.0
6     Saha  13.0      F  Gowtham    8.0
7    Sasra   9.0      F      KKR    4.0
8   Lekshi   7.0      M   Vignan    2.0
9     Udvi  14.0      F     SVSN    9.0

In [25]:
df.Class = df.Class.fillna(df.Class.mean())
df.Class

0     9.0
1     6.0
2     6.0
3     4.0
4    10.0
5     2.0
6     8.0
7     4.0
8     2.0
9     9.0
Name: Class, dtype: float64

In [26]:
df

      name   Age Gender   School  Class
0   Hemika  14.0      F      VSN    9.0
1     Neha  13.0      F     SVSN    6.0
2  Keertan  14.0      M   Vignan    6.0
3     Saha   9.0      F      KKR    4.0
4      Ram  15.0      M   FITZEE   10.0
5     Jasu   7.0      M      VSN    2.0
6     Saha  13.0      F  Gowtham    8.0
7    Sasra   9.0      F      KKR    4.0
8   Lekshi   7.0      M   Vignan    2.0
9     Udvi  14.0      F     SVSN    9.0